<footer class="container mx-auto bg-white py-8 border-t border-gray-400">
    <div class="container flex px-3 py-8 ">
        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full lg:w-1/2 ">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">How It's Made</h3>
                    <p class="py-4">
                        
For rapid development, uploading, converting, and dividing videos into pieces is done using Amazon's web service.

Web3 is used to turn video fragments into NFT tokens, and smart contracts are used for sales.
Video data uploading and video transcoding using Amazon Web Services are expensive, require economic model design.
                    </p>
                </div>
            </div>
            <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">Project Info</h3>
                    <ul class="list-reset items-center pt-3">
                        <li>
                            <a class="inline-block no-underline hover:text-black hover:underline py-1"
                                href="https://hack.ethglobal.co/showcase/artclip-recpDXNo2Y6s21J2D"
                                target="_blank">Showcase</a>

                        </li>
                         <li>
                            <a class="inline-block no-underline hover:text-black hover:underline py-1"
                                href="https://docs.google.com/presentation/d/1ZG_-x_3LMR5IajMgb7YACjAParvEAbjfLrve0fBdOm4/edit?usp=sharing"
                                target="_blank">Dev plan</a>

                        </li>


                        <li>
                            <a class="inline-block no-underline hover:text-black hover:underline py-1"
                                href="https://github.com/fistline/artclip"
                                target="_blank">Github</a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-blue-700 font-bold mb-2">
                    2021 Artclip 
                    
                </p>
            </div>
        </div>
    </div>
</footer>