<style type="text/css">
  .swiper {
    scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .swiper > img {
    scroll-snap-align: start;
  }
</style>
<div class="flex flex-col items-center">
  <div class="flex flex-col items-center">
    <div class="swiper flex overflow-x-scroll w-1/2">
      <img class="w-full h-1/2 object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
      <img class="w-full h-1/2 object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582224119362-9df4eead238a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80" id="slide2">
      <img class="w-full h-1/2 object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582229822017-3b77911e82bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" id="slide3">
    </div>
  </div>
  <div class="flex mt-4">
    <a href="https://metamask.io/download.html" class="w-4 h-4 mx-1 bg-gray-400 rounded-full">install metamask</a>
    
  </div>
</div>