// var init
$font-pop : 'Poppins';
$font-noto : 'NOTO sans KR';

// .gradient {
//   background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
// }

// .gradient {
//   background: linear-gradient(90deg,#3494E6 0%, #EC6EAD 100%);
// }

// .gradient {
//   background: linear-gradient(90deg,#833ab4 0%, #fd1d1d 100%, #fcb045 100%);
// }

// .gradient {
//   background: linear-gradient(90deg,#5433FF 0%, #20BDFF 100%, #A5FECB 100%);
// }

// .gradient {
//   background: linear-gradient(90deg,#5433FF 0%, #20BDFF 100%, #A5FECB 100%);
// }

// .gradient {
//     background: linear-gradient(90deg,#5433FF 0%, #20BDFF 100%, #A5FECB 100%);
// }

// .gradient {
//   background: linear-gradient(90deg,#5433FF 0%, #20BDFF 100%, #A5FECB 100%);
// }

.gradient {
  background: white;
}


@import "./styles/resource.scss";