<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Artclip" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.Artclip.co" />	
    <meta property="og:image" content="assets/img/artclip.png" />
    <meta property="og:description"  content="Artclip - splitted video nft" />
    <link rel="shortcut icon" href="assets/imgs/artclip.jpg" />

    <title>Artclip</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {{!-- <script src = "https://code.jquery.com/jquery-3.5.1.min.js " ></script> --}}
     <script>
        document.addEventListener('DOMContentLoaded', function () {
             setTimeout(function(){
                const main =document.querySelector('#main_content');
                main.style.display = 'block';
                const loader =document.querySelector('#loader');
                loader.style.display = 'none';
            },800);
        });
    </script>
    <div id="loader" style="display:block" >
        {{> main/loading}}
    </div>
</head>
<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
    
   
    <div id="main_content" class="wrapper" style="display: none;">
        <div class="content" >
            {{> main/01Nav}}
            {{> main/02hero}}
            {{> main/03store}}
            {{> main/04about}}
            {{> main/footer}}
            {{> main/cookie-check}}
        </div>
        <div class="visual">
        </div>
    </div>  
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</body>
</html>